<a href="https://colab.research.google.com/github/Tobifads/Datewarehousing/blob/main/Tutorial_Schema_and_Data_Integration_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.11/dist-packages (9.2.0)

In [14]:
!apt-get -y install mysql-server

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.40-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.

In [15]:
!service mysql start

 * Starting MySQL database server mysqld
   ...done.

In [16]:
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'root';FLUSH PRIVILEGES;"

ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)

In [17]:
#Connect Securely to MySQL
import mysql.connector

# Create a connection to the MySQL server
conn1 = mysql.connector.connect(user='root', password='root', host='localhost')

# Create a cursor to interact with the MySQL server
cursor = conn1.cursor()

In [19]:
# create table jobs in SQLITE
import pandas as pd
import sqlite3
# connect to existing database
conn2 = sqlite3.connect('Dem_table.db')
cur = conn2.cursor()
#create table in database
cur.execute('''CREATE TABLE jobs
                ( job_id  		INT(3),
                 job_title		VARCHAR(50) unique not null,
                min_salary		DECIMAL(8,2) not null,
                max_salary		DECIMAL(8,2) not null,
                PRIMARY KEY (job_id));
                ''')
#commit and save changes to database
conn2.commit()

In [20]:
# Insert sample data on table job in SQLITE
Jobs=[(901, 'Managing Director', 75000, 125000),
(902, 'Programmer', 35000, 80000),
(903, 'Sales Rep', 25000, 45000),
(904, 'Project Manager', 45000, 95000),
(905, 'Marketing Manager', 37000, 68000),
(906, 'Marketing Producer', 34000, 70000),
(907, 'Operations Manager', 28000, 41000),
(908, 'Sales Administrator', 38000, 65000),
(909, 'Database Architect', 44000, 73000),
(910, 'Operations Officer', 32000, 61000),
(911, 'IT Tester', 38000, 55000)]

cur.executemany('Insert Into jobs Values (?,?,?,?)', Jobs)
# Run a Sample Query to SQLITE Server to fetch all records
query1 = "SELECT * FROM jobs"
df2 = pd.read_sql_query(query1,conn2)
df2

    job_id            job_title  min_salary  max_salary
0      901    Managing Director       75000      125000
1      902           Programmer       35000       80000
2      903            Sales Rep       25000       45000
3      904      Project Manager       45000       95000
4      905    Marketing Manager       37000       68000
5      906   Marketing Producer       34000       70000
6      907   Operations Manager       28000       41000
7      908  Sales Administrator       38000       65000
8      909   Database Architect       44000       73000
9      910   Operations Officer       32000       61000
10     911            IT Tester       38000       55000

In [21]:
# Merge the jobs table data from MySQL stored in df with jobs table data from MySQL stored in df1
# Stored the merged  data in the result pandas frame
result = pd.concat([df1, df2], ignore_index=True, sort=False)
result

    job_id            job_title  min_salary  max_salary
0     1901    Managing Director     75000.0    125000.0
1     1902           Programmer     35000.0     80000.0
2     1903            Sales Rep     25000.0     45000.0
3     1904      Project Manager     45000.0     95000.0
4     1905    Marketing Manager     37000.0     68000.0
5     1906   Marketing Producer     34000.0     70000.0
6     1907   Operations Manager     28000.0     41000.0
7     1908  Sales Administrator     38000.0     65000.0
8     1909   Database Architect     44000.0     73000.0
9     1910   Operations Officer     32000.0     61000.0
10    1911            IT Tester     38000.0     55000.0
11     901    Managing Director     75000.0    125000.0
12     902           Programmer     35000.0     80000.0
13     903            Sales Rep     25000.0     45000.0
14     904      Project Manager     45000.0     95000.0
15     905    Marketing Manager     37000.0     68000.0
16     906   Marketing Producer     34000.0     70000.0
17     907   Operations Manager     28000.0     41000.0
18     908  Sales Administrator     38000.0     65000.0
19     909   Database Architect     44000.0     73000.0
20     910   Operations Officer     32000.0     61000.0
21     911            IT Tester     38000.0     55000.0